<h2>
  <%= @now_time.strftime("%d日 %H:%M") %> の予定：
  <span style="font-size:2em;color:red;"><%= @plans[1].content %></span>
  次の予定：
  <span style="font-size:2em;color:red;"><%= @plans[2].content %></span>
</h2>

  <hr />

  <div id="mymap" style="width: 850px; height: 300px; margin:0px;padding:10px 0 0 5px;">    </div>

  <div class="location_timeline">
    <h2><%=h @now_time.strftime("%H:%M") %>から<%=h @end_time.strftime("%H:%M") %>の位置情報</h2>
    <%= location_list_html(@now_time, @end_time) %>
  </div>

  <hr />

    <div class="recent_timeline" style="margin:10px;">
      <h2><%=h @now_time.strftime("%H:%M") %>あたり最近30分間の発言</h2>
      <%= twitter_recent(@now_time) %>
    </div>

  <hr />

  <div class="permlink">
    <% start_time = DateTime.new(2008,12,31,12) %>
    <% now_time = DateTime.new(2008,12,31,12) %>
    <% 0.upto(34) do |i| %>
      <% now_time = start_time + i.hour %>
      <%= link_to now_time.strftime('%Y/%m/%d %H時'), "/p/"+now_time.strftime('%Y%m%d')+"/"+now_time.strftime('%H') %>
    <% end %>
  </div>

<hr />

<table>
  <tr>
    <th style="font-size:2em;">時間帯</th>
    <th style="font-size:2em;">予定</th>
    <th></th>
    <th></th>
    <%= th %>
  </tr>

<% for plan in @plans %>
<% 0.upto(5) do |i| %>
  <tr>
    <%= td(plan, i) %>
    <%= td_log(plan.start+10.minute*i) %>
  </tr>
<% end %>
<% end %>

</table>

<%= link_to "すべて見る", "/all" %>
