<h1 style="font-size:4em;">エクストリームアドホック忘年会</h1>
<h2>現在 <%= Time.now.strftime("%d日 %H:%M") %></h2>
<div class="ustream">
  <% for user in Status::ACCOUNTS %>
    <embed flashvars='viewcount=true&amp;autoplay=false&amp;brand=embed' width='160' height='130' allowfullscreen='true' allowscriptaccess='always'
    src='http://www.ustream.tv/flash/live/1/<%= user[:ustream] %>' type='application/x-shockwave-flash' />
  <% end %>
</div>

<hr />

<table>
  <tr>
    <th>時間帯</th>
    <th>予定</th>
    <th></th>
    <th></th>
    <% Status::ACCOUNTS.each do |account| %>
    <th><%=h account[:twitter] %></th>
    <% end %>
  </tr>
<% for plan in @plans %>
  <tr>
    <%= td(plan) %>
    <% Status::ACCOUNTS.each do |account| %>
    <td class="<%=h account[:twitter] %>">
      <% Status.find(:all, :conditions => ["user_screen_name = ? AND ? <= status_created_at AND status_created_at <= ?", account[:twitter], plan.start, plan.start + 1.hour]).each do |status| %>
      [<%=h status.status_created_at.strftime("%H:%M") %>]<br/>
      <%=h status.status_text %><br/>
      <% end %>
    </td>
    <% end %>
  </tr>
<% end %>
</table>

<%= link_to "すべて見る", "/all" %>
