<h2>現在 <%= Time.now.strftime("%d日 %H:%M") %></h2>
    <% Status::ACCOUNTS.each do |account| %>
      <embed flashvars='viewcount=true&amp;autoplay=false&amp;brand=embed' width='160' height='130' allowfullscreen='true' allowscriptaccess='always'
      src='http://www.ustream.tv/flash/live/1/<%= account[:ustream] %>' type='application/x-shockwave-flash' />
    <% end %>

      <br />
      <br />
    <h2><%= Time.now-1.hours %>から<%= Time.now %>の発言</h2>
    <% Status.hour(Time.now).each do |tw| %>
      <img src="http://usericons.relucks.org/twitter/<%= tw.user_screen_name %>"  height="30" width="30"  />
      <%= tw.status_text %>
      <br />
    <% end %>

<hr />

<table>
  <tr>
    <th style="font-size:2em;">時間帯</th>
    <th style="font-size:2em;">予定</th>
    <th></th>
    <th></th>
    <% Status::ACCOUNTS.each do |account| %>
    <th>
      <a href="http://twitter.com/<%=h account[:twitter] %>">
      <br/>
      <a href="<%=h account[:twitter] %>">
        <img src="http://usericons.relucks.org/twitter/<%=h account[:twitter] %>" height="30" width="30"  />
        <%=h account[:twitter] %>
      </a>
    </th>
    <% end %>
  </tr>
<% for plan in @plans %>
<% 0.upto(5) do |i| %>
  <tr>
    <%= td(plan, i) %>
    <% Status::ACCOUNTS.each do |account| %>
    <td class="<%=h account[:twitter] %>">
      <% Status.find(:all,
                     :order => "status_created_at",
                     :conditions => ["user_screen_name = ? AND ? <= status_created_at AND status_created_at <= ?",
                                     account[:twitter], plan.start+10.minute*i, plan.start+10.minute*(i+1) ]
                     ).each do |status| %>
        [<%=h status.status_created_at.strftime("%H:%M") %>]<br/>
        <%=h status.status_text %><br/>
      <% end %>
    </td>
    <% end %>
  </tr>
<% end %>
<% end %>
</table>

<%= link_to "すべて見る", "/all" %>
