<h1 style="font-size:4em;">エクストリームアドホック忘年会</h1>
<h2><%= Time.now.strftime("%d日 %H:%M") %></h2>

<table>
  <tr>
    <th>時間帯</th>
    <th>予定</th>
  </tr>
<% for plan in @plans %>
  <tr>
    <% unless plan.flag? %>
      <td style="font-size:1.6em;padding:10px;border-bottom:1px solid black;"><%=h plan.start.strftime("%d日 %H:%M～") %></td>
      <td style="max-width:120px;font-size:1.6em;padding:10px;border-bottom:1px solid black;"><%=h plan.content %></td>
      <td><%= link_to '編集', edit_plan_path(plan) %></td>
    <% else %>
      <td style="font-size:1.6em;padding:10px;border-bottom:1px solid black;color:red;"><%=h plan.start.strftime("%d日 %H:%M～") %></td>
      <td style="font-size:1.6em;padding:10px;border-bottom:1px solid black;color:red;"><%=h plan.content %></td>
    <% end %>
  </tr>
<% end %>
</table>
