<h1>New plan</h1>

<%= error_messages_for :plan %>

<% form_for(@plan) do |f| %>
  <p>
    <b>Content</b><br />
    <%= f.text_field :content %>
  </p>

  <p>
    <b>Start</b><br />
    <%= f.datetime_select :start %>
  </p>

  <p>
    <b>Flag</b><br />
    <%= f.check_box :flag %>
  </p>

  <p>
    <%= f.submit "作成" %>
  </p>
<% end %>

<%= link_to '戻る', plans_path %>
