<p>
  <b>Content:</b>
  <%=h @plan.content %>
</p>

<p>
  <b>Start:</b>
  <%=h @plan.start %>
</p>

<p>
  <b>Flag:</b>
  <%=h @plan.flag %>
</p>


<%= link_to '編集', edit_plan_path(@plan) %> |
<%= link_to '戻る', plans_path %>
